  <nav class="light-blue accent-2">
  	<div class="container">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Logo</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="sass.html">Sass</a></li>
	        <li><a href="badges.html">Components</a></li>
	        <li><a href="collapsible.html">JavaScript</a></li>
	      </ul>
	    </div>
	</div>
  </nav>

 <% @posts.each do |post| %>
 	<div class="post_wrapper">
	 	<h2 class="title"><%= link_to post.title, post %></h2>
	 	<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
	</div>
<% end %>
